:root {
  /* LIGHT COLORS */
  --primary-color: #1c41ab;
  --secondary-color: #305dfc;
  --accent-color: #f7f7f7;
  --complement-color: #7ab4f2;
  --font-color: #2c3e50;
  --bg-color: #f7f7f7;
  --box-shadow-top-color: #d2d2d2;
  --box-shadow-bottom-color: #ffffff;
}

[data-theme="dark"] {
  --primary-color: #305dfc;
  --secondary-color: #1c41ab;
  --accent-color: #f7f7f7;
  --font-color: #3fb681;
  --bg-color: #14161f;
  --box-shadow-top-color: #25354496;
  --box-shadow-bottom-color: #25354496;
  --box-shadow-color: {
    #app:before {
      content: "";
      position: absolute;
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      background: radial-gradient(circle at 20% 10%, rgba(97, 25, 239, .1), transparent 30%), radial-gradient(circle at 80% 30%, rgba(16, 185, 129, .08), transparent 25%);
      z-index: 0;
      pointer-events: none;
  }
  }
}